<footer class="footer py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6">
                <h5 class="mb-4">U-Mate</h5>
                <p class="mb-4">{{ g.translations.get('footer_description') }}</p>
                <div class="d-flex gap-3">
                    <a href="#" class="text-white fs-5"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="text-white fs-5"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="text-white fs-5"><i class="bi bi-linkedin"></i></a>
                    <a href="#" class="text-white fs-5"><i class="bi bi-instagram"></i></a>
                </div>
            </div>
            
            <div class="col-lg-2 col-md-6">
                <h5 class="mb-4">{{ g.translations.get('footer_links') }}</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="{{ url_for('index') }}" class="text-decoration-none text-white-50 hover-text-white">{{ g.translations.get('menu_home') }}</a></li>
                    <li class="mb-2"><a href="#products" class="text-decoration-none text-white-50 hover-text-white">{{ g.translations.get('menu_products') }}</a></li>
                    <li class="mb-2"><a href="#company" class="text-decoration-none text-white-50 hover-text-white">{{ g.translations.get('menu_company') }}</a></li>
                    <li class="mb-2"><a href="#case-studies" class="text-decoration-none text-white-50 hover-text-white">{{ g.translations.get('menu_case_studies') }}</a></li>
                    <li class="mb-2"><a href="#news" class="text-decoration-none text-white-50 hover-text-white">{{ g.translations.get('menu_news') }}</a></li>
                </ul>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <h5 class="mb-4">{{ g.translations.get('footer_services') }}</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-decoration-none text-white-50 hover-text-white">{{ g.translations.get('product_bt_cloud_title') }}</a></li>
                    <li class="mb-2"><a href="#" class="text-decoration-none text-white-50 hover-text-white">{{ g.translations.get('product_ai_title') }}</a></li>
                    <li class="mb-2"><a href="#" class="text-decoration-none text-white-50 hover-text-white">{{ g.translations.get('product_wms_title') }}</a></li>
                    <li class="mb-2"><a href="#" class="text-decoration-none text-white-50 hover-text-white">{{ g.translations.get('product_iot_title') }}</a></li>
                    <li class="mb-2"><a href="#" class="text-decoration-none text-white-50 hover-text-white">{{ g.translations.get('product_cybouz_title') }}</a></li>
                </ul>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <h5 class="mb-4">{{ g.translations.get('footer_contact') }}</h5>
                <ul class="list-unstyled">
                    <li class="mb-3 d-flex">
                        <i class="bi bi-geo-alt me-2 text-primary"></i>
                        <span>{% if company_settings.get('company_address') %}{{ company_settings.get('company_address') }}{% else %}{{ g.translations.get('footer_address') or "" }}{% endif %}</span>
                    </li>
                    <li class="mb-3 d-flex">
                        <i class="bi bi-telephone me-2 text-primary"></i>
                        <span>{{ company_settings.get('company_phone') or g.translations.get('footer_phone') }}</span>
                    </li>
                    <li class="mb-3 d-flex">
                        <i class="bi bi-envelope me-2 text-primary"></i>
                        <span>{{ company_settings.get('company_email') or g.translations.get('footer_email') }}</span>
                    </li>
                </ul>
            </div>
        </div>
        
        <hr class="mt-4 mb-3 border-secondary">
        
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="small text-white-50 mb-0">&copy; 2025 U-Mate. {{ g.translations.get('footer_rights') }}</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="small text-white-50 mb-0">
                    <a href="#" class="text-decoration-none text-white-50 hover-text-white me-3">{{ g.translations.get('footer_privacy') }}</a>
                    <a href="#" class="text-decoration-none text-white-50 hover-text-white">{{ g.translations.get('footer_terms') }}</a>
                </p>
            </div>
        </div>
    </div>
</footer>
